# Projek 1
Pengerjaan projek pertama ini sifatnya wajib bagi seluruh peserta.<br>
Materi yang dijadikan projek pertama ini yaitu mulai dari <i>Introduction</i>, <i>Database</i>, dan Praproses (1 & 2).<br>
Projek ini terdiri dari 5 soal.<br>
Berikut adalah projek pertama untuk peserta <i>Data Science Club</i> Universitas Trunojoyo Madura :

1 Hubungkan file Jupyter Notebook kalian dengan <i>Database</i> yang kami berikan.<br>
Berikut adalah relasi-relasi pada <i>database</i> tersebut :
<p align="center">
<img src = "Skema.png">
</p><br>
Terdapat delapan tabel pada <i>database</i> tersebut, pilihlah satu tabel untuk mengerjakan soal nomor 2.

2 Buktikan jika kalian telah berhasil menghubungkan <i>database</i> yang kami berikan dengan melakukan operasi CRUD (Create-Read-Update-Delete, masing-masing satu) pada <i>database</i> melalui Jupyter Notebook (.ipynb) kalian.

3 Pilih satu atau beberapa tabel (bisa menggunakan JOIN) yang berisikan data yang belum dipraproses, kemudian tampung ke dalam sebuah DataFrame (pandas) baru.

4 Dengan menggunakan DataFrame yang telah kalian buat pada poin ketiga, lakukanlah praproses pada DataFrame tersebut.<br>
Adapun ketentuan tahapan praproses yang wajib ada adalah sebagai berikut :<br>
- Membersihkan data yang memiliki nilai yang kosong/hilang
- Mendeteksi <i>outlier</i> pada data
- Melakukan normalisasi nilai pada data
- Melakukan transformasi data (<i>label encoding</i>, <i>scalling</i>, <i>binning</i>)
- <i>Feature selection/extraction</i>
- Sertakan visualisasi datanya

5 Buatlah sebuah tabel pada <i>database</i> (tidak perlu diberi relasi dengan tabel yang lain) yang isinya adalah hasil praproses data kalian.

6 Ekspor <i>database</i> kalian ke dalam bentuk .sql melalui DBMS MySQL dan ekspor DataFrame yang telah kalian proses ke dalam format .csv melalui Jupyter Notebook.

### Contoh ekspor DataFrame ke dalam format .csv

In [1]:
from pandas import DataFrame, read_csv

data = DataFrame({'name': ['Raphael', 'Donatello'],
                   'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})

In [2]:
data

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

In [3]:
# EKSPOR DATA

data.to_csv("data_hasil_ekspor.csv", index=False)

In [4]:
# MUAT DATA YANG TELAH DI EKSPOR

data_ekspor = read_csv("data_hasil_ekspor.csv")
data_ekspor

        name    mask    weapon
0    Raphael     red       sai
1  Donatello  purple  bo staff

Bagi peserta <i>Data Science Club</i> yang berhalangan untuk menghadiri pemaparan Projek 1 pada tanggal 26 Desember mendatang, diwajibkan untuk mengirim video presentasi projek (maksimal 10 menit) beserta <i>file</i> Jawaban<b>.ipynb</b>, database_kerjaan_kalian<b>.sql</b>, dan hasil_praproses_kalian<b>.csv</b> yang telah dikerjakan melalui email roploverz@gmail.com