# <b>Import Libraries</b>

In [4]:
import pandas as pd
import mysql.connector as mysql

## Sambungkan Koneksi MySql

In [5]:
koneksi = mysql.connect(host="localhost",
                       database="dsc",
                       user="root",
                       password="")

In [50]:
cursor = koneksi.cursor()
cursor.execute("SELECT * FROM offices")

table_offices = cursor.fetchall()
table_offices

[('1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('2',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA'),
 ('3',
  'NYC',
  '+1 212 555 3000',
  '523 East 53rd Street',
  'apt. 5A',
  'NY',
  'USA',
  '10022',
  'NA'),
 ('4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  None,
  None,
  'France',
  '75017',
  'EMEA'),
 ('5',
  'Tokyo',
  '+81 33 224 5000',
  '4-1 Kioicho',
  None,
  'Chiyoda-Ku',
  'Japan',
  '102-8578',
  'Japan'),
 ('6',
  'Sydney',
  '+61 2 9264 2451',
  '5-11 Wentworth Avenue',
  'Floor #2',
  None,
  'Australia',
  'NSW 2010',
  'APAC'),
 ('7',
  'London',
  '+44 20 7877 2041',
  '25 Old Broad Street',
  'Level 7',
  None,
  'UK',
  'EC2N 1HN',
  'EMEA')]

In [52]:
#_Bentuk DataFram
data_offices = pd.DataFrame(columns = ["ID", 
                                         "Kota", 
                                         "Nomor", 
                                         "Alamat1", 
                                         "Alamat2", 
                                         "Ibu Kota", 
                                         "Negara",
                                       "Kode Pos",
                                       "teritori"],
                             data = table_offices)
#_Ubah Index
data_offices = data_offices.set_index('ID')
data_offices

,Kota,Nomor,Alamat1,Alamat2,Ibu Kota,Negara,Kode Pos,teritori
ID,,,,,,,,
1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA
5,Tokyo,+81 33 224 5000,4-1 Kioicho,None,Chiyoda-Ku,Japan,102-8578,Japan
6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,None,Australia,NSW 2010,APAC
7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,None,UK,EC2N 1HN,EMEA

# Create

In [53]:
cursor = koneksi.cursor()
sql = "INSERT INTO offices VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
data = ('8', 'Sidoarjo', '+621 81251', 'Sedati Agung', 'Rt 05', 'Jakarta', 'Indonesia', '61253', 'Republik')
cursor.execute(sql, data)
koneksi.commit()

# Read

In [54]:
cursor.execute("SELECT * FROM offices")
office = cursor.fetchall()
office

[('1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('2',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA'),
 ('3',
  'NYC',
  '+1 212 555 3000',
  '523 East 53rd Street',
  'apt. 5A',
  'NY',
  'USA',
  '10022',
  'NA'),
 ('4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  None,
  None,
  'France',
  '75017',
  'EMEA'),
 ('5',
  'Tokyo',
  '+81 33 224 5000',
  '4-1 Kioicho',
  None,
  'Chiyoda-Ku',
  'Japan',
  '102-8578',
  'Japan'),
 ('6',
  'Sydney',
  '+61 2 9264 2451',
  '5-11 Wentworth Avenue',
  'Floor #2',
  None,
  'Australia',
  'NSW 2010',
  'APAC'),
 ('7',
  'London',
  '+44 20 7877 2041',
  '25 Old Broad Street',
  'Level 7',
  None,
  'UK',
  'EC2N 1HN',
  'EMEA'),
 ('8',
  'Sidoarjo',
  '+621 81251',
  'Sedati Agung',
  'Rt 05',
  'Jakarta',
  'Indonesia',
  '61253',
  'Republik')]

In [58]:
data_offices = pd.DataFrame(columns = ["ID", 
                                         "Kota", 
                                         "Nomor", 
                                         "Alamat1", 
                                         "Alamat2", 
                                         "Ibu Kota", 
                                         "Negara",
                                       "Kode Pos",
                                       "teritori"],
                             data = office)
#_Ubah Index
data_offices = data_offices.set_index('ID')
data_offices

,Kota,Nomor,Alamat1,Alamat2,Ibu Kota,Negara,Kode Pos,teritori
ID,,,,,,,,
1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA
5,Tokyo,+81 33 224 5000,4-1 Kioicho,None,Chiyoda-Ku,Japan,102-8578,Japan
6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,None,Australia,NSW 2010,APAC
7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,None,UK,EC2N 1HN,EMEA
8,Sidoarjo,+621 81251,Sedati Agung,Rt 05,Jakarta,Indonesia,61253,Republik

# Update

In [61]:
cursor = koneksi.cursor()
sql = "UPDATE offices SET postalCode = '12345' WHERE postalCode = '61253'"
cursor.execute(sql)
koneksi.commit()

In [66]:
cursor.execute("SELECT * FROM offices")

In [69]:
data_offices = pd.DataFrame(columns = ["ID", 
                                         "Kota", 
                                         "Nomor", 
                                         "Alamat1", 
                                         "Alamat2", 
                                         "Ibu Kota", 
                                         "Negara",
                                       "Kode Pos",
                                       "teritori"],
                             data = office)
#_Ubah Index
data_offices = data_offices.set_index('ID')
data_offices

,Kota,Nomor,Alamat1,Alamat2,Ibu Kota,Negara,Kode Pos,teritori
ID,,,,,,,,
1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA
4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,None,None,France,75017,EMEA
5,Tokyo,+81 33 224 5000,4-1 Kioicho,None,Chiyoda-Ku,Japan,102-8578,Japan
6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,None,Australia,NSW 2010,APAC
7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,None,UK,EC2N 1HN,EMEA
8,Sidoarjo,+621 81251,Sedati Agung,Rt 05,Jakarta,Indonesia,12345,Republik

# Delete

In [78]:
cursor = koneksi.cursor()
sql = "DELETE FROM offices WHERE city = 'Sidoarjo'"
cursor.execute(sql)
koneksi.commit()

In [79]:
cursor.execute("SELECT * FROM offices")
office = cursor.fetchall()
office

[('1',
  'San Francisco',
  '+1 650 219 4782',
  '100 Market Street',
  'Suite 300',
  'CA',
  'USA',
  '94080',
  'NA'),
 ('2',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA'),
 ('3',
  'NYC',
  '+1 212 555 3000',
  '523 East 53rd Street',
  'apt. 5A',
  'NY',
  'USA',
  '10022',
  'NA'),
 ('4',
  'Paris',
  '+33 14 723 4404',
  "43 Rue Jouffroy D'abbans",
  None,
  None,
  'France',
  '75017',
  'EMEA'),
 ('5',
  'Tokyo',
  '+81 33 224 5000',
  '4-1 Kioicho',
  None,
  'Chiyoda-Ku',
  'Japan',
  '102-8578',
  'Japan'),
 ('6',
  'Sydney',
  '+61 2 9264 2451',
  '5-11 Wentworth Avenue',
  'Floor #2',
  None,
  'Australia',
  'NSW 2010',
  'APAC'),
 ('7',
  'London',
  '+44 20 7877 2041',
  '25 Old Broad Street',
  'Level 7',
  None,
  'UK',
  'EC2N 1HN',
  'EMEA')]

# Join

In [6]:
cursor = koneksi.cursor()
sql = "SELECT \
  customers.customerName AS user, \
  products.productLine AS fav \
  FROM customers\
  INNER JOIN products ON customers.country = products.buyPrice"
cursor.execute(sql)
myresult = cursor.fetchall()
for x in myresult:
  print(x)

('Atelier graphique', 'Motorcycles')
('Atelier graphique', 'Vintage Cars')
('Atelier graphique', 'Classic Cars')
('Atelier graphique', 'Ships')
('Signal Gift Stores', 'Motorcycles')
('Signal Gift Stores', 'Vintage Cars')
('Signal Gift Stores', 'Classic Cars')
('Signal Gift Stores', 'Ships')
('Australian Collectors, Co.', 'Motorcycles')
('Australian Collectors, Co.', 'Vintage Cars')
('Australian Collectors, Co.', 'Classic Cars')
('Australian Collectors, Co.', 'Ships')
('La Rochelle Gifts', 'Motorcycles')
('La Rochelle Gifts', 'Vintage Cars')
('La Rochelle Gifts', 'Classic Cars')
('La Rochelle Gifts', 'Ships')
('Baane Mini Imports', 'Motorcycles')
('Baane Mini Imports', 'Vintage Cars')
('Baane Mini Imports', 'Classic Cars')
('Baane Mini Imports', 'Ships')
('Mini Gifts Distributors Ltd.', 'Motorcycles')
('Mini Gifts Distributors Ltd.', 'Vintage Cars')
('Mini Gifts Distributors Ltd.', 'Classic Cars')
('Mini Gifts Distributors Ltd.', 'Ships')
('Havel & Zbyszek Co', 'Motorcycles')
('Havel & Zbyszek Co', 'Vintage Cars')
('Havel & Zbyszek Co', 'Classic Cars')
('Havel & Zbyszek Co', 'Ships')
('Blauer See Auto, Co.', 'Motorcycles')
('Blauer See Auto, Co.', 'Vintage Cars')
('Blauer See Auto, Co.', 'Classic Cars')
('Blauer See Auto, Co.', 'Ships')
('Mini Wheels Co.', 'Motorcycles')
('Mini Wheels Co.', 'Vintage Cars')
('Mini Wheels Co.', 'Classic Cars')
('Mini Wheels Co.', 'Ships')
('Land of Toys Inc.', 'Motorcycles')
('Land of Toys Inc.', 'Vintage Cars')
('Land of Toys Inc.', 'Classic Cars')
('Land of Toys Inc.', 'Ships')
('Euro+ Shopping Channel', 'Motorcycles')
('Euro+ Shopping Channel', 'Vintage Cars')
('Euro+ Shopping Channel', 'Classic Cars')
('Euro+ Shopping Channel', 'Ships')
('Volvo Model Replicas, Co', 'Motorcycles')
('Volvo Model Replicas, Co', 'Vintage Cars')
('Volvo Model Replicas, Co', 'Classic Cars')
('Volvo Model Replicas, Co', 'Ships')
('Danish Wholesale Imports', 'Motorcycles')
('Danish Wholesale Imports', 'Vintage Cars')
('Danish Wholesale Imports', 'Classic Cars')
('Danish Wholesale Imports', 'Ships')
('Saveley & Henriot, Co.', 'Motorcycles')
('Saveley & Henriot, Co.', 'Vintage Cars')
('Saveley & Henriot, Co.', 'Classic Cars')
('Saveley & Henriot, Co.', 'Ships')
('Dragon Souveniers, Ltd.', 'Motorcycles')
('Dragon Souveniers, Ltd.', 'Vintage Cars')
('Dragon Souveniers, Ltd.', 'Classic Cars')
('Dragon Souveniers, Ltd.', 'Ships')
('Muscle Machine Inc', 'Motorcycles')
('Muscle Machine Inc', 'Vintage Cars')
('Muscle Machine Inc', 'Classic Cars')
('Muscle Machine Inc', 'Ships')
('Diecast Classics Inc.', 'Motorcycles')
('Diecast Classics Inc.', 'Vintage Cars')
('Diecast Classics Inc.', 'Classic Cars')
('Diecast Classics Inc.', 'Ships')
('Technics Stores Inc.', 'Motorcycles')
('Technics Stores Inc.', 'Vintage Cars')
('Technics Stores Inc.', 'Classic Cars')
('Technics Stores Inc.', 'Ships')
('Handji Gifts& Co', 'Motorcycles')
('Handji Gifts& Co', 'Vintage Cars')
('Handji Gifts& Co', 'Classic Cars')
('Handji Gifts& Co', 'Ships')
('Herkku Gifts', 'Motorcycles')
('Herkku Gifts', 'Vintage Cars')
('Herkku Gifts', 'Classic Cars')
('Herkku Gifts', 'Ships')
('American Souvenirs Inc', 'Motorcycles')
('American Souvenirs Inc', 'Vintage Cars')
('American Souvenirs Inc', 'Classic Cars')
('American Souvenirs Inc', 'Ships')
('Porto Imports Co.', 'Motorcycles')
('Porto Imports Co.', 'Vintage Cars')
('Porto Imports Co.', 'Classic Cars')
('Porto Imports Co.', 'Ships')
('Daedalus Designs Imports', 'Motorcycles')
('Daedalus Designs Imports', 'Vintage Cars')
('Daedalus Designs Imports', 'Classic Cars')
('Daedalus Designs Imports', 'Ships')
("La Corne D'abondance, Co.", 'Motorcycles')
("La Corne D'abondance, Co.", 'Vintage Cars')
("La Corne D'abondance, Co.", 'Classic Cars')
("La Corne D'abondance, Co.", 'Ships')
('Cambridge Collectables Co.', 'Motorcycles')
('Cambridge Collectables Co.', 'Vintage Cars')
('Cambridge Collectables Co.', 'Classic Cars')
('Cambridge Collectables Co.', 'Ships')
('Gift Depot Inc.', 'Motorcycles')
('Gift Depot Inc.', 'Vintage Cars')
('Gift Depot Inc.', 'Classic Cars')
('Gift Depot Inc.', 'Ships')
('Osaka Souveniers Co.', 'Motorcycles')
('Osaka Souveniers Co.', 'Vintage Cars')
('Osaka Souveniers Co.', 'Classic Cars')
('Osaka Souveniers Co.', 'Ships')
('Vitachrome Inc.', 'Motorcycles')
('Vitachrome Inc.', 'Vintage Cars')
('Vitachrome Inc.', 'Classic Cars')
('Vitachrome Inc.', 'Ships')
('Toys of Finland, Co.', 'Motorcycles')
('Toys of Finland, Co.', 'Vintage Cars')
('Toys of Finland, Co.', 'Classic Cars')
('Toys of Finland, Co.', 'Ships')
('AV Stores, Co.', 'Motorcycles')
('AV Stores, Co.', 'Vintage Cars')
('AV Stores, Co.', 'Classic Cars')
('AV Stores, Co.', 'Ships')
('Clover Collections, Co.', 'Motorcycles')
('Clover Collections, Co.', 'Vintage Cars')
('Clover Collections, Co.', 'Classic Cars')
('Clover Collections, Co.', 'Ships')
('Auto-Moto Classics Inc.', 'Motorcycles')
('Auto-Moto Classics Inc.', 'Vintage Cars')
('Auto-Moto Classics Inc.', 'Classic Cars')
('Auto-Moto Classics Inc.', 'Ships')
('UK Collectables, Ltd.', 'Motorcycles')
('UK Collectables, Ltd.', 'Vintage Cars')
('UK Collectables, Ltd.', 'Classic Cars')
('UK Collectables, Ltd.', 'Ships')
('Canadian Gift Exchange Network', 'Motorcycles')
('Canadian Gift Exchange Network', 'Vintage Cars')
('Canadian Gift Exchange Network', 'Classic Cars')
('Canadian Gift Exchange Network', 'Ships')
('Online Mini Collectables', 'Motorcycles')
('Online Mini Collectables', 'Vintage Cars')
('Online Mini Collectables', 'Classic Cars')
('Online Mini Collectables', 'Ships')
('Toys4GrownUps.com', 'Motorcycles')
('Toys4GrownUps.com', 'Vintage Cars')
('Toys4GrownUps.com', 'Classic Cars')
('Toys4GrownUps.com', 'Ships')
('Asian Shopping Network, Co', 'Motorcycles')
('Asian Shopping Network, Co', 'Vintage Cars')
('Asian Shopping Network, Co', 'Classic Cars')
('Asian Shopping Network, Co', 'Ships')
('Mini Caravy', 'Motorcycles')
('Mini Caravy', 'Vintage Cars')
('Mini Caravy', 'Classic Cars')
('Mini Caravy', 'Ships')
('King Kong Collectables, Co.', 'Motorcycles')
('King Kong Collectables, Co.', 'Vintage Cars')
('King Kong Collectables, Co.', 'Classic Cars')
('King Kong Collectables, Co.', 'Ships')
('Enaco Distributors', 'Motorcycles')
('Enaco Distributors', 'Vintage Cars')
('Enaco Distributors', 'Classic Cars')
('Enaco Distributors', 'Ships')
('Boards & Toys Co.', 'Motorcycles')
('Boards & Toys Co.', 'Vintage Cars')
('Boards & Toys Co.', 'Classic Cars')
('Boards & Toys Co.', 'Ships')
('Natürlich Autos', 'Motorcycles')
('Natürlich Autos', 'Vintage Cars')
('Natürlich Autos', 'Classic Cars')
('Natürlich Autos', 'Ships')
('Heintze Collectables', 'Motorcycles')
('Heintze Collectables', 'Vintage Cars')
('Heintze Collectables', 'Classic Cars')
('Heintze Collectables', 'Ships')
('Québec Home Shopping Network', 'Motorcycles')
('Québec Home Shopping Network', 'Vintage Cars')
('Québec Home Shopping Network', 'Classic Cars')
('Québec Home Shopping Network', 'Ships')
('ANG Resellers', 'Motorcycles')
('ANG Resellers', 'Vintage Cars')
('ANG Resellers', 'Classic Cars')
('ANG Resellers', 'Ships')
('Collectable Mini Designs Co.', 'Motorcycles')
('Collectable Mini Designs Co.', 'Vintage Cars')
('Collectable Mini Designs Co.', 'Classic Cars')
('Collectable Mini Designs Co.', 'Ships')
('giftsbymail.co.uk', 'Motorcycles')
('giftsbymail.co.uk', 'Vintage Cars')
('giftsbymail.co.uk', 'Classic Cars')
('giftsbymail.co.uk', 'Ships')
('Alpha Cognac', 'Motorcycles')
('Alpha Cognac', 'Vintage Cars')
('Alpha Cognac', 'Classic Cars')
('Alpha Cognac', 'Ships')
('Messner Shopping Network', 'Motorcycles')
('Messner Shopping Network', 'Vintage Cars')
('Messner Shopping Network', 'Classic Cars')
('Messner Shopping Network', 'Ships')
('Amica Models & Co.', 'Motorcycles')
('Amica Models & Co.', 'Vintage Cars')
('Amica Models & Co.', 'Classic Cars')
('Amica Models & Co.', 'Ships')
('Lyon Souveniers', 'Motorcycles')
('Lyon Souveniers', 'Vintage Cars')
('Lyon Souveniers', 'Classic Cars')
('Lyon Souveniers', 'Ships')
('Auto Associés & Cie.', 'Motorcycles')
('Auto Associés & Cie.', 'Vintage Cars')
('Auto Associés & Cie.', 'Classic Cars')
('Auto Associés & Cie.', 'Ships')
('Toms Spezialitäten, Ltd', 'Motorcycles')
('Toms Spezialitäten, Ltd', 'Vintage Cars')
('Toms Spezialitäten, Ltd', 'Classic Cars')
('Toms Spezialitäten, Ltd', 'Ships')
('Royal Canadian Collectables, Ltd.', 'Motorcycles')
('Royal Canadian Collectables, Ltd.', 'Vintage Cars')
('Royal Canadian Collectables, Ltd.', 'Classic Cars')
('Royal Canadian Collectables, Ltd.', 'Ships')
('Franken Gifts, Co', 'Motorcycles')
('Franken Gifts, Co', 'Vintage Cars')
('Franken Gifts, Co', 'Classic Cars')
('Franken Gifts, Co', 'Ships')
("Anna's Decorations, Ltd", 'Motorcycles')
("Anna's Decorations, Ltd", 'Vintage Cars')
("Anna's Decorations, Ltd", 'Classic Cars')
("Anna's Decorations, Ltd", 'Ships')
('Rovelli Gifts', 'Motorcycles')
('Rovelli Gifts', 'Vintage Cars')
('Rovelli Gifts', 'Classic Cars')
('Rovelli Gifts', 'Ships')
('Souveniers And Things Co.', 'Motorcycles')
('Souveniers And Things Co.', 'Vintage Cars')
('Souveniers And Things Co.', 'Classic Cars')
('Souveniers And Things Co.', 'Ships')
("Marta's Replicas Co.", 'Motorcycles')
("Marta's Replicas Co.", 'Vintage Cars')
("Marta's Replicas Co.", 'Classic Cars')
("Marta's Replicas Co.", 'Ships')
('BG&E Collectables', 'Motorcycles')
('BG&E Collectables', 'Vintage Cars')
('BG&E Collectables', 'Classic Cars')
('BG&E Collectables', 'Ships')
('Vida Sport, Ltd', 'Motorcycles')
('Vida Sport, Ltd', 'Vintage Cars')
('Vida Sport, Ltd', 'Classic Cars')
('Vida Sport, Ltd', 'Ships')
('Norway Gifts By Mail, Co.', 'Motorcycles')
('Norway Gifts By Mail, Co.', 'Vintage Cars')
('Norway Gifts By Mail, Co.', 'Classic Cars')
('Norway Gifts By Mail, Co.', 'Ships')
('Schuyler Imports', 'Motorcycles')
('Schuyler Imports', 'Vintage Cars')
('Schuyler Imports', 'Classic Cars')
('Schuyler Imports', 'Ships')
('Der Hund Imports', 'Motorcycles')
('Der Hund Imports', 'Vintage Cars')
('Der Hund Imports', 'Classic Cars')
('Der Hund Imports', 'Ships')
('Oulu Toy Supplies, Inc.', 'Motorcycles')
('Oulu Toy Supplies, Inc.', 'Vintage Cars')
('Oulu Toy Supplies, Inc.', 'Classic Cars')
('Oulu Toy Supplies, Inc.', 'Ships')
('Petit Auto', 'Motorcycles')
('Petit Auto', 'Vintage Cars')
('Petit Auto', 'Classic Cars')
('Petit Auto', 'Ships')
('Mini Classics', 'Motorcycles')
('Mini Classics', 'Vintage Cars')
('Mini Classics', 'Classic Cars')
('Mini Classics', 'Ships')
('Mini Creations Ltd.', 'Motorcycles')
('Mini Creations Ltd.', 'Vintage Cars')
('Mini Creations Ltd.', 'Classic Cars')
('Mini Creations Ltd.', 'Ships')
('Corporate Gift Ideas Co.', 'Motorcycles')
('Corporate Gift Ideas Co.', 'Vintage Cars')
('Corporate Gift Ideas Co.', 'Classic Cars')
('Corporate Gift Ideas Co.', 'Ships')
('Down Under Souveniers, Inc', 'Motorcycles')
('Down Under Souveniers, Inc', 'Vintage Cars')
('Down Under Souveniers, Inc', 'Classic Cars')
('Down Under Souveniers, Inc', 'Ships')
('Stylish Desk Decors, Co.', 'Motorcycles')
('Stylish Desk Decors, Co.', 'Vintage Cars')
('Stylish Desk Decors, Co.', 'Classic Cars')
('Stylish Desk Decors, Co.', 'Ships')
('Tekni Collectables Inc.', 'Motorcycles')
('Tekni Collectables Inc.', 'Vintage Cars')
('Tekni Collectables Inc.', 'Classic Cars')
('Tekni Collectables Inc.', 'Ships')
('Australian Gift Network, Co', 'Motorcycles')
('Australian Gift Network, Co', 'Vintage Cars')
('Australian Gift Network, Co', 'Classic Cars')
('Australian Gift Network, Co', 'Ships')
('Suominen Souveniers', 'Motorcycles')
('Suominen Souveniers', 'Vintage Cars')
('Suominen Souveniers', 'Classic Cars')
('Suominen Souveniers', 'Ships')
('Cramer Spezialitäten, Ltd', 'Motorcycles')
('Cramer Spezialitäten, Ltd', 'Vintage Cars')
('Cramer Spezialitäten, Ltd', 'Classic Cars')
('Cramer Spezialitäten, Ltd', 'Ships')
('Classic Gift Ideas, Inc', 'Motorcycles')
('Classic Gift Ideas, Inc', 'Vintage Cars')
('Classic Gift Ideas, Inc', 'Classic Cars')
('Classic Gift Ideas, Inc', 'Ships')
('CAF Imports', 'Motorcycles')
('CAF Imports', 'Vintage Cars')
('CAF Imports', 'Classic Cars')
('CAF Imports', 'Ships')
("Men 'R' US Retailers, Ltd.", 'Motorcycles')
("Men 'R' US Retailers, Ltd.", 'Vintage Cars')
("Men 'R' US Retailers, Ltd.", 'Classic Cars')
("Men 'R' US Retailers, Ltd.", 'Ships')
('Asian Treasures, Inc.', 'Motorcycles')
('Asian Treasures, Inc.', 'Vintage Cars')
('Asian Treasures, Inc.', 'Classic Cars')
('Asian Treasures, Inc.', 'Ships')
('Marseille Mini Autos', 'Motorcycles')
('Marseille Mini Autos', 'Vintage Cars')
('Marseille Mini Autos', 'Classic Cars')
('Marseille Mini Autos', 'Ships')
('Reims Collectables', 'Motorcycles')
('Reims Collectables', 'Vintage Cars')
('Reims Collectables', 'Classic Cars')
('Reims Collectables', 'Ships')
('SAR Distributors, Co', 'Motorcycles')
('SAR Distributors, Co', 'Vintage Cars')
('SAR Distributors, Co', 'Classic Cars')
('SAR Distributors, Co', 'Ships')
('GiftsForHim.com', 'Motorcycles')
('GiftsForHim.com', 'Vintage Cars')
('GiftsForHim.com', 'Classic Cars')
('GiftsForHim.com', 'Ships')
('Kommission Auto', 'Motorcycles')
('Kommission Auto', 'Vintage Cars')
('Kommission Auto', 'Classic Cars')
('Kommission Auto', 'Ships')
('Gifts4AllAges.com', 'Motorcycles')
('Gifts4AllAges.com', 'Vintage Cars')
('Gifts4AllAges.com', 'Classic Cars')
('Gifts4AllAges.com', 'Ships')
('Online Diecast Creations Co.', 'Motorcycles')
('Online Diecast Creations Co.', 'Vintage Cars')
('Online Diecast Creations Co.', 'Classic Cars')
('Online Diecast Creations Co.', 'Ships')
('Lisboa Souveniers, Inc', 'Motorcycles')
('Lisboa Souveniers, Inc', 'Vintage Cars')
('Lisboa Souveniers, Inc', 'Classic Cars')
('Lisboa Souveniers, Inc', 'Ships')
('Precious Collectables', 'Motorcycles')
('Precious Collectables', 'Vintage Cars')
('Precious Collectables', 'Classic Cars')
('Precious Collectables', 'Ships')
('Collectables For Less Inc.', 'Motorcycles')
('Collectables For Less Inc.', 'Vintage Cars')
('Collectables For Less Inc.', 'Classic Cars')
('Collectables For Less Inc.', 'Ships')
('Royale Belge', 'Motorcycles')
('Royale Belge', 'Vintage Cars')
('Royale Belge', 'Classic Cars')
('Royale Belge', 'Ships')
('Salzburg Collectables', 'Motorcycles')
('Salzburg Collectables', 'Vintage Cars')
('Salzburg Collectables', 'Classic Cars')
('Salzburg Collectables', 'Ships')
('Cruz & Sons Co.', 'Motorcycles')
('Cruz & Sons Co.', 'Vintage Cars')
('Cruz & Sons Co.', 'Classic Cars')
('Cruz & Sons Co.', 'Ships')
("L'ordine Souveniers", 'Motorcycles')
("L'ordine Souveniers", 'Vintage Cars')
("L'ordine Souveniers", 'Classic Cars')
("L'ordine Souveniers", 'Ships')
('Tokyo Collectables, Ltd', 'Motorcycles')
('Tokyo Collectables, Ltd', 'Vintage Cars')
('Tokyo Collectables, Ltd', 'Classic Cars')
('Tokyo Collectables, Ltd', 'Ships')
('Auto Canal+ Petit', 'Motorcycles')
('Auto Canal+ Petit', 'Vintage Cars')
('Auto Canal+ Petit', 'Classic Cars')
('Auto Canal+ Petit', 'Ships')
('Stuttgart Collectable Exchange', 'Motorcycles')
('Stuttgart Collectable Exchange', 'Vintage Cars')
('Stuttgart Collectable Exchange', 'Classic Cars')
('Stuttgart Collectable Exchange', 'Ships')
('Extreme Desk Decorations, Ltd', 'Motorcycles')
('Extreme Desk Decorations, Ltd', 'Vintage Cars')
('Extreme Desk Decorations, Ltd', 'Classic Cars')
('Extreme Desk Decorations, Ltd', 'Ships')
('Bavarian Collectables Imports, Co.', 'Motorcycles')
('Bavarian Collectables Imports, Co.', 'Vintage Cars')
('Bavarian Collectables Imports, Co.', 'Classic Cars')
('Bavarian Collectables Imports, Co.', 'Ships')
('Classic Legends Inc.', 'Motorcycles')
('Classic Legends Inc.', 'Vintage Cars')
('Classic Legends Inc.', 'Classic Cars')
('Classic Legends Inc.', 'Ships')
('Feuer Online Stores, Inc', 'Motorcycles')
('Feuer Online Stores, Inc', 'Vintage Cars')
('Feuer Online Stores, Inc', 'Classic Cars')
('Feuer Online Stores, Inc', 'Ships')
('Gift Ideas Corp.', 'Motorcycles')
('Gift Ideas Corp.', 'Vintage Cars')
('Gift Ideas Corp.', 'Classic Cars')
('Gift Ideas Corp.', 'Ships')
('Scandinavian Gift Ideas', 'Motorcycles')
('Scandinavian Gift Ideas', 'Vintage Cars')
('Scandinavian Gift Ideas', 'Classic Cars')
('Scandinavian Gift Ideas', 'Ships')
('The Sharp Gifts Warehouse', 'Motorcycles')
('The Sharp Gifts Warehouse', 'Vintage Cars')
('The Sharp Gifts Warehouse', 'Classic Cars')
('The Sharp Gifts Warehouse', 'Ships')
('Mini Auto Werke', 'Motorcycles')
('Mini Auto Werke', 'Vintage Cars')
('Mini Auto Werke', 'Classic Cars')
('Mini Auto Werke', 'Ships')
('Super Scale Inc.', 'Motorcycles')
('Super Scale Inc.', 'Vintage Cars')
('Super Scale Inc.', 'Classic Cars')
('Super Scale Inc.', 'Ships')
('Microscale Inc.', 'Motorcycles')
('Microscale Inc.', 'Vintage Cars')
('Microscale Inc.', 'Classic Cars')
('Microscale Inc.', 'Ships')
('Corrida Auto Replicas, Ltd', 'Motorcycles')
('Corrida Auto Replicas, Ltd', 'Vintage Cars')
('Corrida Auto Replicas, Ltd', 'Classic Cars')
('Corrida Auto Replicas, Ltd', 'Ships')
('Warburg Exchange', 'Motorcycles')
('Warburg Exchange', 'Vintage Cars')
('Warburg Exchange', 'Classic Cars')
('Warburg Exchange', 'Ships')
('FunGiftIdeas.com', 'Motorcycles')
('FunGiftIdeas.com', 'Vintage Cars')
('FunGiftIdeas.com', 'Classic Cars')
('FunGiftIdeas.com', 'Ships')
('Anton Designs, Ltd.', 'Motorcycles')
('Anton Designs, Ltd.', 'Vintage Cars')
('Anton Designs, Ltd.', 'Classic Cars')
('Anton Designs, Ltd.', 'Ships')
('Australian Collectables, Ltd', 'Motorcycles')
('Australian Collectables, Ltd', 'Vintage Cars')
('Australian Collectables, Ltd', 'Classic Cars')
('Australian Collectables, Ltd', 'Ships')
('Frau da Collezione', 'Motorcycles')
('Frau da Collezione', 'Vintage Cars')
('Frau da Collezione', 'Classic Cars')
('Frau da Collezione', 'Ships')
('West Coast Collectables Co.', 'Motorcycles')
('West Coast Collectables Co.', 'Vintage Cars')
('West Coast Collectables Co.', 'Classic Cars')
('West Coast Collectables Co.', 'Ships')
('Mit Vergnügen & Co.', 'Motorcycles')
('Mit Vergnügen & Co.', 'Vintage Cars')
('Mit Vergnügen & Co.', 'Classic Cars')
('Mit Vergnügen & Co.', 'Ships')
('Kremlin Collectables, Co.', 'Motorcycles')
('Kremlin Collectables, Co.', 'Vintage Cars')
('Kremlin Collectables, Co.', 'Classic Cars')
('Kremlin Collectables, Co.', 'Ships')
('Raanan Stores, Inc', 'Motorcycles')
('Raanan Stores, Inc', 'Vintage Cars')
('Raanan Stores, Inc', 'Classic Cars')
('Raanan Stores, Inc', 'Ships')
('Iberia Gift Imports, Corp.', 'Motorcycles')
('Iberia Gift Imports, Corp.', 'Vintage Cars')
('Iberia Gift Imports, Corp.', 'Classic Cars')
('Iberia Gift Imports, Corp.', 'Ships')
('Motor Mint Distributors Inc.', 'Motorcycles')
('Motor Mint Distributors Inc.', 'Vintage Cars')
('Motor Mint Distributors Inc.', 'Classic Cars')
('Motor Mint Distributors Inc.', 'Ships')
('Signal Collectibles Ltd.', 'Motorcycles')
('Signal Collectibles Ltd.', 'Vintage Cars')
('Signal Collectibles Ltd.', 'Classic Cars')
('Signal Collectibles Ltd.', 'Ships')
('Double Decker Gift Stores, Ltd', 'Motorcycles')
('Double Decker Gift Stores, Ltd', 'Vintage Cars')
('Double Decker Gift Stores, Ltd', 'Classic Cars')
('Double Decker Gift Stores, Ltd', 'Ships')
('Diecast Collectables', 'Motorcycles')
('Diecast Collectables', 'Vintage Cars')
('Diecast Collectables', 'Classic Cars')
('Diecast Collectables', 'Ships')
("Kelly's Gift Shop", 'Motorcycles')
("Kelly's Gift Shop", 'Vintage Cars')
("Kelly's Gift Shop", 'Classic Cars')
("Kelly's Gift Shop", 'Ships')

# Preprocessing

In [81]:
bms = pd.DataFrame(columns = ["Name", "Produk"],
                             data = myresult)
bms.head(5)

                 Name        Produk
0   Atelier graphique   Motorcycles
1   Atelier graphique  Vintage Cars
2   Atelier graphique  Classic Cars
3   Atelier graphique         Ships
4  Signal Gift Stores   Motorcycles

In [82]:
import numpy as np

In [83]:
bms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    488 non-null    object
 1   Produk  488 non-null    object
dtypes: object(2)
memory usage: 3.9+ KB

In [84]:
np.sum(bms.isnull())

Name      0
Produk    0
dtype: int64

# Walaupun tidak ada missing
# Coba dibersihkan sesuai perintah

In [85]:
from sklearn.impute import SimpleImputer
from scipy.stats import mode

In [86]:
bms["Produk"].mode()

0    Classic Cars
1     Motorcycles
2           Ships
3    Vintage Cars
dtype: object

# Tidak ada Missing

# Detecting Outlier

In [88]:
bms.describe()

                                  Name Produk
count                              488    488
unique                             122      4
top     Canadian Gift Exchange Network  Ships
freq                                 4    122